# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
.env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# Test results
.coverage
.tox/
.nox/
.cache/
*.cover
coverage.xml
*.lcov
nosetests.xml
pytest_cache/
junit.xml

# MyPy cache
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# IDE-specific files
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# System files
.DS_Store
Thumbs.db

# AWS keys or sensitive data (example only)
.env

